@import url('https://fonts.googleapis.com/css2?family=Aileron:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fontes */
@font-face {
  font-family: 'Bodoni FLF';
  src: url('./assets/fonts/bodoni_[allfont.net].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Efeitos para logo/titulo da Home */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-fade-in-up {
    animation: fade-in-up 2s ease-out;
  }
}

/* Efeitos para surgimento da Home */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 1s ease-out both;
  }
}


/* Efeito de digitação Home */

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #9b9b9b;
  width: fit-content;
  animation: 
    typing 4s steps(40, end),
    blink-caret .8s step-end infinite,
    hide-cursor 0.1s 3.5s forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #9b9b9b; }
}

/* Esconde a barra permanentemente após 4s */
@keyframes hide-cursor {
  to { border-right: none; }
}

/*Configuração de App.jsx*/
.main-container {
  
}

.header-content {

}

.main-content {
  
}

.footer-content {

}